#pop {
    display: none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}

#pop.open {
    display: flex;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(17, 17, 17, 0.5);
    transition: all 0.5s ease;
    display: none;
}

.popup_open {
    display: flex;
    z-index: 2000;
}

.popup__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    max-width: 588px;
    width: 100%;
}

.popup__wrapper {
    padding: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


input[type='number'] {
    -moz-appearance: textfield;
}


#form body {
    font-family: 'Montserrat', sans-serif;
}

#form h3 {
    text-align: center;
    color: #04073f;
    padding:10px 0 30px;
    font-size: 18px;
}
.form{
     display: flex;
     flex-direction: column;
     width: 80%;
     margin: 0 auto;
     border-radius: 50px;
     padding: 20px;
     background: #EDF6FF;
     text-align: center;
     font-family: 'Montserrat', sans-serif;
     font-size: 16px;
 }



#form label {
    display: grid;
    margin-top: 10px;
    padding-top: 5px;
    text-align: left;
    font-size: 14px;
    align-content: space-around;
    justify-content: space-around;
    padding-bottom: 5px;
}

#form input {
    padding: 15px;
    margin-top: 5px;
    /*font-size: 0.7em;*/
    border-radius: 50px;
    border-style: none;
    text-align: left;
    width: 80%;
}


#form input[type="submit"]:first-child {
    padding: 10px 40px;
    border-radius: 30px;
    border-style: none;
    background: #004B83;
    color: #FFF;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 100%;
}

#form input:focus {

}

#form input::placeholder {
    color: #bdbdbd;

}

#form button {
    background: none;
    border-style: none;
}

#form #submit {
    margin-top: 40px;
    cursor: url('../images/spray.svg') 4 1,
    pointer;
    text-align: center;
}

#form #submit:hover {
    background: #C7E9FF;
    color: #004B83;
    border-style: none;
    cursor: url('../images/spray.svg') 4 1,
    pointer;
}

#form #submit:active {
    background: radial-gradient(hsl(0, 0%, 100%), hsl(207, 85%, 92%));
    border-style: none;
}

#form .vld {
    background-color: #868686;
    border: 0;
}

#form span {
    color: #e07070;
    display: block;
    text-align: left;
    padding-left: 10px;
    font-size: 14px;
    margin-top: 5px;
}

#form .alert {
    border-color: #eb9f9e;
    color: #2f2f2f;
    background-color: #f8e8e8;
}

#form .question {
    height: 100px;
}

.close {
    background: none;
    border-style: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #004B83;
    padding: 10px;

}

.close:hover {
    cursor: url('../images/spray.svg') 4 1,
    pointer;
    color: #0274c9;
}

#form .x {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 14px;
}

